<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <servlet>
  <servlet-name>Servlet</servlet-name>
  <servlet-class>com.m183.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Servlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Servlet 2</servlet-name>
  <servlet-class>com.m183.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Servlet 2</servlet-name>
  <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
</web-app>